
    <title>订单详情</title>
    <link rel="stylesheet" type="text/css" href="/static/home/css/pages-seckillOrder.css" />


    <!--header-->
    <div id="account">
        <div class="py-container">
            <div class="yui3-g home">
                <!--左侧列表-->
				{include file="member_left"}
                <!--右侧主内容-->
                <div class="yui3-u-5-6">
                    <div class="body">
                        <div class="order-detail">
                            <h4>订单详情</h4>
                            <div class="order-bar">
                                <div class="sui-steps-round steps-round-auto steps-4">
                                    <div class="finished">
                                        <div class="wrap">
                                        <div class="round">1</div>
                                        <div class="bar"></div>
                                        </div>
                                        <label>
                                            <span>提交订单</span>
                                            <span>{:date('Y-m-d',$list.create_time)}</span>
                                            <span>{:date('H:i:s',$list.create_time)}</span>
                                        </label>
                                    </div>
                                    <div class="{if($list.order_status>0)}current{else/}todo{/if}">
                                        <div class="wrap">
                                        <div class="round">2</div>
                                        <div class="bar"></div>
                                        </div>
                                        <label>
                                            <span>付款成功</span>
                                            <span>{if(!empty($list.pay_time))}{:date('Y-m-d',$list.pay_time)}{/if}</span>
                                            <span>{if(!empty($list.pay_time))}{:date('Y-m-d',$list.pay_time)}{/if}</span>
                                        </label>
                                    </div>
                                    <div class="{if($list.order_status>1)}current{else/}todo{/if}">
                                        <div class="wrap">
                                        <div class="round">3</div>
                                        <div class="bar"></div>
                                        </div>
                                        <label>
                                            <span>发货</span>
                                            <span>{if(!empty($list.shipping_time))}{:date('Y-m-d',$list.shipping_time)}{/if}</span>
                                            <span>{if(!empty($list.shipping_time))}{:date('Y-m-d',$list.shipping_time)}{/if}</span>
                                        </label>
                                    </div>
                                    <div class="{if($list.order_status>2)}current{else/}todo{/if}">
                                        <div class="wrap">
                                        <div class="round">4</div>
                                        <div class="bar"></div>
                                        </div>
                                        <label>
                                            <span>确认收货</span>
                                            <span>{if(!empty($list.confirm_time))}{:date('Y-m-d',$list.confirm_time)}{/if}</span>
                                            <span>{if(!empty($list.confirm_time))}{:date('Y-m-d',$list.confirm_time)}{/if}</span>
                                        </label>
                                    </div>
                                    
                                    <div class="{if($list.order_status>2)}current{else/}todo{/if} last">
                                        <div class="wrap">
                                        <div class="round">5</div>
                                        </div>
                                        <label>
                                            <span>评价晒单</span>
                                            <span>{if(!empty($list.confirm_time))}{:date('Y-m-d',$list.confirm_time)}{/if}</span>
                                            <span>{if(!empty($list.confirm_time))}{:date('Y-m-d',$list.confirm_time)}{/if}</span>
                                        </label>
                                    </div>
                                    </div>
                            </div>
                            <div class="order-state">
                                <p>当前订单状态：<span class="red">
									{if($list.order_status == 0)}
									待付款
									{elseif($list.order_status == 1)/}
									待发货
									{elseif($list.order_status == 2)/}
									待收货
									{elseif($list.order_status == 3)/}
									待评价
									{elseif($list.order_status == 4)/}
									已完成
									{elseif($list.order_status == 5)/}
									已取消
									{elseif($list.order_status == 6)/}
									已退货
									{elseif($list.order_status == 7)/}
									已退款
									{/if}
								</span></p>
                                <p>还剩06天00小时 自动确认收货</p>
                            </div>
                        </div>
                        <div class="order-info">
                            <h5>订单信息</h5>
                            <p>收货地址：{$list.address}  </p>
                            <p>订单单号：{$list.order_sn}</p>
                            <p>下单时间：{$list.create_time}</p>
                            <p>支付时间：{$list.pay_time}</p>
                            <p>支付方式：{$list.pay_name}</p>
                            <p>发货时间：{$list.shipping_time}</p>
                        </div>
                        <div class="order-goods">
                            <table class="sui-table">
                                    <thead>
                                        <th class="center" >商品</th>
                                        <th class="center" >价格</th>
                                        <th class="center" >数量</th>
                                        <th class="center" >优惠</th>
                                        <th class="center" >状态</th>
                                    </thead>                                   
                             
                                <tbody>                               
                                    <tr>
                                        <td colspan="5">订单编号：{$list.order_sn}</td>
                                    </tr>
									{foreach $list.order_goods as $v}
                                    <tr>
                                        <td>
                                            <div class="typographic"><img src="{$v.goods_logo}" />
                                                    <span>包邮 {$v.goods_name} 新款</span>
                                                    <span class="guige">规格：{$v.spec_value_names}</span>
                                                </div>
                                        </td>
                                        <td>
                                            <ul class="unstyled">
                                                    <li class="o-price">¥{$v.goods_price}</li>
                                                    <li>¥{$v.goods_price}</li>
                                                </ul>
                                        </td>
                                        <td>{$v.number}</td>
                                        <td>无优惠</td>
                                        <td>
											{if($v.status==0)}未发货
											{elseif($v.status==1)/}已发货
											{elseif($v.status==2)/}已换货
											{elseif($v.status==3)/}已退货
											{/if}
										</td>
                                    </tr>
								{/foreach}
                                </tbody>
                            </table>
                            <div class="order-price">
                                <p>商品总金额：￥{$list.total_amount}</p>
                                <p>运费金额：，免费用</p>
                                <p>使用优惠券：无</p>
                                <h4 class="red">实际支付：￥{$list.total_amount}</h4>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!--猜你喜欢-->
                        <div class="like-title">
                            <div class="mt">
                                <span class="fl"><strong>热卖单品</strong></span>
                            </div>
                        </div>
                        <div class="like-list">
                            <ul class="yui3-g">
                                <li class="yui3-u-1-4">
                                    <div class="list-wrap">
                                        <div class="p-img">
                                            <img src="/static/home/img/_/itemlike01.png" />
                                        </div>
                                        <div class="attr">
                                            <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
                                        </div>
                                        <div class="price">
                                            <strong>
											<em>¥</em>
											<i>3699.00</i>
										</strong>
                                        </div>
                                        <div class="commit">
                                            <i class="command">已有6人评价</i>
                                        </div>
                                    </div>
                                </li>
                                <li class="yui3-u-1-4">
                                    <div class="list-wrap">
                                        <div class="p-img">
                                            <img src="/static/home/img/_/itemlike02.png" />
                                        </div>
                                        <div class="attr">
                                            <em>Apple苹果iPhone 6s/6s Plus 16G 64G 128G</em>
                                        </div>
                                        <div class="price">
                                            <strong>
											<em>¥</em>
											<i>4388.00</i>
										</strong>
                                        </div>
                                        <div class="commit">
                                            <i class="command">已有700人评价</i>
                                        </div>
                                    </div>
                                </li>
                                <li class="yui3-u-1-4">
                                    <div class="list-wrap">
                                        <div class="p-img">
                                            <img src="/static/home/img/_/itemlike03.png" />
                                        </div>
                                        <div class="attr">
                                            <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
                                        </div>
                                        <div class="price">
                                            <strong>
											<em>¥</em>
											<i>4088.00</i>
										</strong>
                                        </div>
                                        <div class="commit">
                                            <i class="command">已有700人评价</i>
                                        </div>
                                    </div>
                                </li>
                                <li class="yui3-u-1-4">
                                    <div class="list-wrap">
                                        <div class="p-img">
                                            <img src="/static/home/img/_/itemlike04.png" />
                                        </div>
                                        <div class="attr">
                                            <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
                                        </div>
                                        <div class="price">
                                            <strong>
											<em>¥</em>
											<i>4088.00</i>
										</strong>
                                        </div>
                                        <div class="commit">
                                            <i class="command">已有700人评价</i>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>